* {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}

body {
  background-color: lightgrey;
}

h1 {
  font-size: 40px;
}

.quiz {
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quiz__title {
  text-align: center;
  padding-bottom: 32px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 32px;
}

.quiz__image {
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 100%;
}

.quiz__lead {
  font-size: 24px;
  margin: 32px auto;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.question__count {
  color: #f60;
  font-size: 15px;
  font-weight: bold;
  margin: 16px 0;
}

.question__title {
  font-size: 18px;
  margin: 16px 0;
}

.question__answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid lightgrey;
  border-bottom: none;
  max-width: 500px;
  min-height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.question__answer:hover {
  background-color: #e8e8e8;
}

.question__answer:last-child {
  border-bottom: 1px solid lightgrey;
}

.question__answer .order {
  padding: 0 32px;
  color: #aaa;
}

.result {
  max-width: 600px;
  -ms-flex-item-align: start;
      align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.result__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  padding: 16px;
}

.result img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.reload {
  cursor: pointer;
}
